<div class="container-fluid">
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <span class="navbar-brand mb-0 h1">Tracking Details</span>
  </nav>
  <div class="row card-group" style="margin-top:50px">
    <div class="col-lg-3 mt-4" *ngFor="let subcarrier of SubCarriers">
      <div class="card" (click)="shwoSubCarrierDetails(subcarrier.Carrierid)">
        <h6 *ngIf="deliveryStatus == -1" class="card-header text-center text-white bg-danger">{{subcarrier.Code}}</h6>
        <h2 *ngIf="deliveryStatus == -1" class="card-header text-center card-body bg-danger text-white  font-weight-bold">{{subcarrier.CNT}}</h2>
      
        <h6 *ngIf="deliveryStatus == 0" class="card-header text-center text-white bg-warning">{{subcarrier.Code}}</h6>
        <h2 *ngIf="deliveryStatus == 0" class="card-header text-center card-body card-header bg-warning text-white  font-weight-bold">{{subcarrier.CNT}}</h2>
      
        <h6 *ngIf="deliveryStatus == 1" class="card-header text-center text-white bg-primary">{{subcarrier.Code}}</h6>
        <h2 *ngIf="deliveryStatus == 1" class="card-header text-center card-body bg-primary text-white  font-weight-bold">{{subcarrier.CNT}}</h2>
      
        <h6 *ngIf="deliveryStatus == 2" class="card-header text-center text-white bg-success">{{subcarrier.Code}}</h6>
        <h2 *ngIf="deliveryStatus == 2" class="card-header text-center card-body bg-success text-white  font-weight-bold">{{subcarrier.CNT}}</h2>
      
    </div>
  </div>
</div>




