

<div class="container-fluid">
  <nav class="navbar navbar-dark bg-primary fixed-top">
    <span class="navbar-brand mb-0 h1">Tracking Subdetails </span>
  </nav>


  <div class="card-group" style="margin-top:50px">
    <div class="col-lg-3 mt-4" *ngFor="let subcarrier of detailsList">
      <div class="card" border-secondary>
        <div class="card-header">
          <h4 class="card-title border-secondary">{{subcarrier.Company}}</h4>
          <h6 class="card-subtitle mb-2 text-muted border-secondary">Tracking Number: {{subcarrier.TrackingNumber}}</h6>
          <p class="card-text"></p>

        </div>
        <!--<ul class="list-group list-group-flush">
          <li class="list-group-item">Discounted Total Freight: {{subcarrier.DiscountedTotalFreight}}</li>
          <li class="list-group-item">Manifest Date: {{subcarrier.ManifestDate}}</li>
          <li class="list-group-item">Published Total Freight: {{subcarrier.PublishedTotalFreight}}</li>
        </ul>-->

        <table class="table bg-info border-secondary">
          <tbody>
            <tr>
              <td>Discounted Total Freight:</td>
              <td>{{subcarrier.DiscountedTotalFreight}}</td>
            </tr>
            <tr>
              <td>Manifest Date:</td>
              <td>{{subcarrier.ManifestDate}}</td>

            </tr>
            <tr>
              <td>Published Total Freight</td>
              <td>{{subcarrier.PublishedTotalFreight}}</td>
            </tr>
            <tr>
              <td>Zip</td>
              <td>{{subcarrier.Zip}}</td>
            </tr>

          </tbody>
        </table>

        <div class="card-footer text-muted ">

          <!--<a class="btn btn-primary" data-target="#exampleModal" data-toggle="collapse" (click)="openModal()" aria-expanded="false" aria-controls="collapseExample">
            View Details
            <span class="glyphicon glyphicon-search border-secondary" aria-hidden="true"></span>
          </a>-->

          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            View Details
          </button>

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header bg-light">
                  <h4 class="modal-title" >{{subcarrier.Company}}</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body" style="overflow:auto;">
                  <h6>Tracking Number: {{subcarrier.TrackingNumber}}</h6>

                  <div class="container-fluid bg-info">
                    <div class="row" >
                      <div class="col-6 col-md-6 text-dark">
                        Active Date Time:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.ActDateTime}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Delivery On Time:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.IsLate== 1 ? 'Yes': 'No'}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Location:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.Location == ''?'-' : subcarrier.Location}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Ship To:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.ShipTo == ''?'-' : subcarrier.ShipTo}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Signed By:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.SignedBy == ''?'-' : subcarrier.SignedBy}}
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Special Services:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.SpecialServices == ''?'-': subcarrier.SpecialServices}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        Status:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.Status == -1 ? 'Error' : subcarrier.Status == 0 ? 'NoStatus' : subcarrier.Status == 1 ? 'InTransit': 'Delivered'}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6 col-md-6 text-dark">
                        User Comments:
                      </div>
                      <div class="col-6 col-md-6 text-dark">
                        {{subcarrier.UserComments == ''?'-': subcarrier.UserComments}}
                      </div>
                    </div>
                    <div class="col-md-7">
                      <agm-map [latitude]="lat" [longitude]="lng">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                      </agm-map>
                    </div>
                  </div>

                </div>
                <div class="modal-footer bg-light">
                  <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!--<div class="text-center">
            <button type="button" class="btn btn-dark" (click)="openModal()">View on Map</button>
          </div>-->
        </div>


      </div><!-- /.modal !-->


    </div>


  </div>
</div>







